{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %} <!-- Aquí se define el contenido específico de la página-->
<h2>Inciar sesión</h2>

<form method="post">
    <input type="text" name="usuario" placeholder="Usuario" required class="form-control mb-2"><br><br>
    <input type="password" name="contraseña" placeholder="Contraseña" required class="form-control mb-2"><br><br>

    <button class="btn btn-primary">Entrar</button>

</form>

<a href = "{{ url_for('registro') }}">Registrarse</a>

{% endblock %}